<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= startingContent %></p>
<button type="button" class="btn btn-primary"><a>Co</a></button>
<% console.log(posts); %> <% posts.forEach(function(post){ %>
<h1><%= post.title %></h1>
<p>
  <%= post.content.substring(0,100) + "...." %>
  <a href="/posts/<%=post.title%>">Read More</a>
</p>
<% }) %> <%- include("partials/footer") -%>
